<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero2 of heroes">
    <a routerLink="/detail/{{hero2.id}}">
      <span class="badge">{{hero2.id}}</span> {{hero2.name}}
    </a>
  </li>
</ul>



<!-- <ul class="heroes">
  <li *ngFor="let hero2 of heroes">
    <button [class.selected]="hero2 === selectedHero" type="button" (click)="onSelect(hero2)">
      <span class="badge">{{hero2.id}}</span>
      <span class="name">{{hero2.name}}</span>
    </button>
  </li>
</ul> -->

<!-- <techstarter-hero-detail [hero]="selectedHero"></techstarter-hero-detail> -->


<!-- old: first steps
<h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div> -->